body {
	width: 100%;
	height: 100%;
	margin: 0;
}
canvas {
	width: auto;
	height: auto;
	}

* {
	background-color: #99CCFF;
	font-family: impact;
}
#header {
	text-align: center;
	max-height: 500px;
	height: 100%;
	width: 100%;
}
#main {
	margin-top: -20px;
}
.container {
	margin-top: -5px;
	text-align: center;
}
#proj {
	display: inline-block;
	padding-top: 50px;
	margin: 10px 20px 10px 20px;
}
.chat {
	float: right;
}
.resume {
	text-align: center;
	height: 100%;
	width: 100%;
}
p {
	font-size: 16px;
}
.social {
	margin-top: 12px;
	margin-bottom: 12px;
}

/*@media screen and (max-width: 600px), (max-width: 1500px), (min-width: 1000px), (min-height: 500px) {*/