#back:link {
	text-decoration: none;
	color: black;
}
.skillpics img {
	max-height: 150px;
	max-width: 140px;
	height: 100%;
	width: 100%;
}
.xppic {
	max-height: 240px;
	max-width: 230px;
	height: 100%;
	width: 100%;
}
.xpbox {
	display: inline-block;
	max-width: 1360px;
}
.info {
	display: inline-block;
}
.xp-lo-da {
	display: inline-block;
	font-size: 30px;
	text-align: right;
	float: right;
}
.edupics {
	max-height: 250px;
	max-width: 400px;
	height: 100%;
	width: 100%;
}
.eduinfo, .xpinfo {
	text-align: left;
	display: inline-block;
	padding: 20px 20px 50px 20px;
}
.infobox {
	padding: 20px 20px 50px 20px;
}
.resumeLists {
	text-align: left;
	display: inline-block;
}
div.resumeLists h2 {
	font-size: 70px;
}
div.resumeLists h3 {
	font-size: 50px;
}
ul.listinfo {
	font-size: 30px;
} 
div.navbar-header ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
div.navbar-header ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
div.navbar-header ul li:hover {
  background: #555;
  color: #fff;
}
div.navbar-header ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
div.navbar-header ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
div.navbar-header ul li ul li:hover { background: #666; }
div.navbar-header ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}